go 1.23

use (
	./bloom
	./broker
	./cache
	./config
	./id_generator
	./logger
	./plugins/bloom/redis
	./plugins/broker/kafka
	./plugins/broker/nats
	./plugins/broker/rabbitmq
	./plugins/broker/redis
	./plugins/cache/bigcache
	./plugins/cache/freecache
	./plugins/cache/gcache
	./plugins/cache/memcached
	./plugins/cache/redis
	./plugins/cache/listener/redis
	./plugins/config/source/consul
	./plugins/config/source/etcd
	./plugins/config/source/nacos
	./plugins/logger/logrus
	./redis
	./store
	./test
)
