go 1.23

use (
	./cache
	./config
	./id_generator
	./logger
	./plugins/cache/redis	
	./plugins/cache/freecache
	./plugins/cache/bigcache
	./plugins/logger/logrus
	./plugins/config/source/nacos
	./plugins/config/source/consul
	./plugins/config/source/etcd
	./redis
	./store
	./test
)
