go 1.26

use (
	./broker
	./cache
	./config
	./id_generator
	./logger
	./plugins/broker/kafka
	./plugins/broker/nats
	./plugins/broker/rabbitmq
	./plugins/broker/redis
	./plugins/cache/bigcache
	./plugins/cache/freecache
	./plugins/cache/gcache
	./plugins/cache/redis
	./plugins/config/source/consul
	./plugins/config/source/etcd
	./plugins/config/source/nacos
	./plugins/logger/logrus
	./plugins/logger/zap
	./plugins/store/consul
	./plugins/store/file
	./plugins/store/redis
	./redis
	./store
	./test
)
